

.header {
  display: flex;
  background-color: #343434;
  justify-content: space-between;
}

.header h2 {
  color: #fff;
  font-size: 1.5rem;
  padding: 1em 0 1em 5em;
}

.header ul {
  display: flex;
  align-items: center;
  padding: 1em 7.5em 1em 0;
}

.header ul li a {
  color: #fff;
  font-size: 1rem;
  padding: 0.5em 2em;
  transition: 0.3s;
  border-radius: 2em;
}

.header ul li a:hover {
  background-color: #838282;
}