
<div class="title">
  <h1>HODL</h1>
</div>

<section class="hero">

</section>

<section class="main">
  
  <h2 class="section-title">Our Project</h2>
  
  <p class="para-1 para">
    Here at Diamond Hands Inc., we are dedicated to HODLing our assets 
    forever.  HODL stands for Hold On for Dear Life, so we HODL thru 
    bear and bull markets.  We use our Diamond Hands to pump the stonks 
    and give a big middle finger to the establishment.
  </p>

  <p class="para-2 para">
    Our Diamond Hands Token represents a truly decentrlized network 
    of pump chasers ready to pump the stonk.  If you want to be a part 
    of this once in a lifetime opportunity, buy some DH Tokens and become 
    a stonk pumper with us.
  </p>

  <div class="btn-container">
  <a href="#">
    <button class="btn">
      Buy DH Tokens Now
    </button>
  </a>
  </div>
  

</section>

