

.hero {
  background-image: url('https://i.etsystatic.com/24029483/r/il/8d7652/2836972822/il_fullxfull.2836972822_jyny.jpg');
  background-size: cover;
  width: 100vw;
  height: 1000px;
  justify-content: center;
  align-items: center;
  margin-top: -9em;
}

.title {
  text-align: center;
  font-size: 5rem;
  color: #343434;
  padding-top: 0.5em;
}

.main {
  background-color: #343434;
}

.section-title {
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
  padding: 1em 0 1em 5em;
}

.para {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
  padding: 1em 10em;
}

.btn-container {
  text-align: center;
  padding: 5em;
}

.btn {
  font-size: 1.2rem;
  padding: 2em;
  background-color: #1F1F1F;
  border: none;
  color: #fff;
  border-radius: 10px;
  transition: 0.3s;
}


.btn:hover {
  box-shadow: 0 0 100px #2B69F0;
  color: #2B69F0;
}

@media only screen and (max-width: 950px) {
  .para {
    padding: 1em 3em;
  }
} 

